@import "../../../styles.scss";

.navbar-component {
  background-color: $emerald-dark;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__content {
    max-height: 112px;
    width: 448px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
  }

  &__logo,
  &__slots,
  &__account,
  &__stock {
    max-width: 96px;
    max-height: 96px;
    padding: $base-padding;
    &:hover {
      background-color: $emerald-darkest;
    }
  }
}
