<nav class="navbar-component">
  <div class="navbar-component__content">
    <img
      [routerLink]="Views.MAIN_PAGE"
      src="/logo.png"
      class="navbar-component__logo"
    />
    <img
      src="/slot_machine.png"
      class="navbar-component__slots"
      (click)="navigateToSlots()"
    />
    <img
      src="/accounts.png"
      class="navbar-component__account"
      (click)="navigateToAccount()"
    />
    <img
      src="/stock.png"
      class="navbar-component__stock"
      (click)="navigateToStock(this.username!)"
    />
  </div>

  <div *ngIf="username">
    <div>Welcome back {{ username }}!</div>
    <div>
      Are you ready for <span class="text__bold text__red">BIG WIN?</span>
    </div>
  </div>

  <div class="navbar-component__buttons navbar-component__content">
    <ng-container *ngIf="!username; else loggedIn">
      <button mat-button [routerLink]="Views.LOGIN_PAGE" class="dope-button">
        Login
      </button>
      <button mat-button [routerLink]="Views.SIGNUP_PAGE" class="dope-button">
        Sign up
      </button>
    </ng-container>
    <ng-template #loggedIn>
      <div *ngIf="balance$ | async; let balance">
        Balance: {{ balance.depositBalance }}
      </div>
      <button
        mat-button
        class="dope-button"
        (click)="navigateToAccount(this.username!)"
      >
        My account
      </button>
      <button mat-button class="dope-button" (click)="logout()">Logout</button>
    </ng-template>
  </div>
</nav>
