<h2 mat-dialog-title>Dodaj Post</h2>

<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div class="add-post-dialog__form-container">
    <mat-form-field appearance="fill" class="add-post-dialog__input">
      <mat-label>Tytuł</mat-label>
      <input matInput formControlName="title" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="add-post-dialog__input">
      <mat-label>Treść</mat-label>
      <textarea matInput formControlName="content" required></textarea>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button class="dope-button" (click)="onCancel()">Anuluj</button>
    <button
      mat-raised-button
      class="dope-button"
      type="submit"
      [disabled]="postForm.invalid"
    >
      Zatwierdź
    </button>
  </div>
</form>
