<card-component [title]="'Stock'">
  <div content>
    <mat-form-field class="stock-page__search-form-field">
      <mat-label>Search for offers:</mat-label>
      <input type="text" matInput [formControl]="searchedText" />
    </mat-form-field>
    <div
      *ngIf="auctions$ | async; let auctions"
      class="stock-page__auctions-container"
    >
      <auction
        *ngFor="let auction of auctions"
        [auction]="auction"
        [isMine]="auction.username == username"
        [username]="username"
      ></auction>
    </div>
  </div>
</card-component>
