<card-component [title]="'Accounts'">
  <div content>
    <mat-form-field class="accounts-page__search-form-field">
      <mat-label>Search for offers:</mat-label>
      <input
        type="text"
        matInput
        [formControl]="searchedUsernameControl"
        (keyup.enter)="searchUser()"
      />
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchUser()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-error *ngIf="displayNoUserError">
      <strong>User does not exist</strong>
    </mat-error>
  </div>
</card-component>
